body {
    background-color:#196c21;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: #333;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e7d32;
}

.wy-side-nav-search {
    background: #c8e6c9;
}

.wy-menu-nav-vertical a {
    color: #1b3e20;
}

.wy-menu-vertical a:hover {
    background-color: #a5d6a7;
    color: black;
}

.wy-side-nav-search img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
